.text-side{
    position: relative;
    padding: rem(16) rem(64);
    flex: 3;
    display: flex;
    flex-direction: column;
    @include device(phone){
        align-items: center;
        justify-content: center;
    }
    h1{
        font-weight: 700;
        font-size: em(48);
        color: $very-Dark-Grayish-Blue;
        max-width: 25ch; 
        margin-bottom: rem(16);
        
    }
    p{
        line-height: 1.5em;
        max-width: 45ch;
        font-size: em(32);
        margin-bottom: rem(32);
        color: $grayish-Blue;
        
    }
    &__autor{
        position: relative;
        display: flex;
        align-items: center;
        img{
            max-width: 20%;
            border-radius: 50%;
            padding: rem(8);
        }
        &__info{
            margin-left: rem(16);
            h2{
                font-size: em(64);
                font-weight: 700;
                color: $very-Dark-Grayish-Blue;
                margin-bottom: rem(4);
            }
            p{
                font-size: em(48);
                color: $desaturated-Dark-Blue;
            }
        }
    }
    .share-button{
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: rem(30);
        padding: rem(16);
        background: $light-Grayish-Blue;
    }
}